<% was_validated = course.errors.any? %>

<%= form_with(model: course, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = course.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_field :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% course.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :professor_id, value: current_user.id %>
  <div class="form-group">
    <% course_name_class = "form-control" %>
    <% course_name_was_invalid = course.errors.include?(:course_name) %>

    <% if was_validated %>
      <% if course_name_was_invalid %>
        <% course_name_class << " is-invalid" %>
      <% else %>
        <% course_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :course_name %>
    <%= f.text_field :course_name, class: course_name_class, placeholder: "Enter course name" %>
    <% if course_name_was_invalid %>
      <% course.errors.full_messages_for(:course_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% quarter_class = "form-control" %>
    <% quarter_was_invalid = course.errors.include?(:quarter) %>

    <% if was_validated %>
      <% if quarter_was_invalid %>
        <% quarter_class << " is-invalid" %>
      <% else %>
        <% quarter_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :quarter %>
    <%= f.text_field :quarter, class: quarter_class, placeholder: "Enter quarter" %>
    <% if quarter_was_invalid %>
      <% course.errors.full_messages_for(:quarter).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% course_time_class = "form-control" %>
    <% course_time_was_invalid = course.errors.include?(:course_time) %>

    <% if was_validated %>
      <% if course_time_was_invalid %>
        <% course_time_class << " is-invalid" %>
      <% else %>
        <% course_time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :course_time %>
    <%= f.text_field :course_time, class: course_time_class, placeholder: "Enter course time" %>
    <% if course_time_was_invalid %>
      <% course.errors.full_messages_for(:course_time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
