<% was_validated = review.errors.any? %>

<%= form_with(model: review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% body_class = "form-control" %>
    <% body_was_invalid = review.errors.include?(:body) %>

    <% if was_validated %>
      <% if body_was_invalid %>
        <% body_class << " is-invalid" %>
      <% else %>
        <% body_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :body %>
    <%= f.text_area :body, class: body_class, placeholder: "Enter body" %>
    <% if body_was_invalid %>
      <% review.errors.full_messages_for(:body).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :reviewer_id, value: current_user.id %>
  <div class="form-group">
    <% course_class = "form-control" %>
    <% course_was_invalid = review.errors.include?(:course) %>

    <% if was_validated %>
      <% if course_was_invalid %>
        <% course_class << " is-invalid" %>
      <% else %>
        <% course_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :course_id %>
    <%= f.collection_select :course_id, Course.all, :id, :to_s, {}, class: "form-control" %>
    <% if course_was_invalid %>
      <% review.errors.full_messages_for(:course).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% course_rating_class = "form-control" %>
    <% course_rating_was_invalid = review.errors.include?(:course_rating) %>

    <% if was_validated %>
      <% if course_rating_was_invalid %>
        <% course_rating_class << " is-invalid" %>
      <% else %>
        <% course_rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :course_rating %>
    <%= f.number_field :course_rating, class: course_rating_class, placeholder: "Enter course rating" %>
    <% if course_rating_was_invalid %>
      <% review.errors.full_messages_for(:course_rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
