<% was_validated = review.errors.any? %>

<%= form_with(model: review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for body start -->
  <div class="form-group">
    <% body_class = "form-control" %>
    <% body_was_invalid = review.errors.include?(:body) %>

    <% if was_validated %>
      <% if body_was_invalid %>
        <% body_class << " is-invalid" %>
      <% else %>
        <% body_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :body %>
    <!-- Input for body start -->
    <%= f.text_area :body, class: body_class, placeholder: "Enter body" %>
    <!-- Input for body end -->
    <% if body_was_invalid %>
      <% review.errors.full_messages_for(:body).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for body end -->
  <!-- Label and input for reviewer_id start -->
  <div class="form-group">
    <% reviewer_class = "form-control" %>
    <% reviewer_was_invalid = review.errors.include?(:reviewer) %>

    <% if was_validated %>
      <% if reviewer_was_invalid %>
        <% reviewer_class << " is-invalid" %>
      <% else %>
        <% reviewer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :reviewer_id %>
    <!-- Input for reviewer_id start -->
    <%= f.number_field :reviewer_id, class: reviewer_class, placeholder: "Enter reviewer" %>
    <!-- Input for reviewer_id end -->
    <% if reviewer_was_invalid %>
      <% review.errors.full_messages_for(:reviewer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for reviewer_id end -->
  <!-- Label and input for course_id start -->
  <div class="form-group">
    <% course_class = "form-control" %>
    <% course_was_invalid = review.errors.include?(:course) %>

    <% if was_validated %>
      <% if course_was_invalid %>
        <% course_class << " is-invalid" %>
      <% else %>
        <% course_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :course_id %>
    <!-- Input for course_id start -->
    <%= f.number_field :course_id, class: course_class, placeholder: "Enter course" %>
    <!-- Input for course_id end -->
    <% if course_was_invalid %>
      <% review.errors.full_messages_for(:course).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for course_id end -->
  <!-- Label and input for course_rating start -->
  <div class="form-group">
    <% course_rating_class = "form-control" %>
    <% course_rating_was_invalid = review.errors.include?(:course_rating) %>

    <% if was_validated %>
      <% if course_rating_was_invalid %>
        <% course_rating_class << " is-invalid" %>
      <% else %>
        <% course_rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :course_rating %>
    <!-- Input for course_rating start -->
    <%= f.number_field :course_rating, class: course_rating_class, placeholder: "Enter course rating" %>
    <!-- Input for course_rating end -->
    <% if course_rating_was_invalid %>
      <% review.errors.full_messages_for(:course_rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for course_rating end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
